// iphone 12 pro
@media screen and (max-width: 390px) {
  #main {
    display: block;
    margin: 5px 5px 0 5px;
    border-radius: 15px;
  }
  #content {
    display: flex;
    margin: 0 10px 0 10px;
    flex-direction: column;
    // background-color: yellowgreen;
    padding: 0 0 0 0;
    // box-shadow: 0 0 50px 0px white;
    background-color: white;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(100px);

    opacity: 0.7;
    border-radius: 20px;

    #shoutouts {
      display: flex;
      padding: 5px;
      height: 60vh;
    }
    #form-container {
      height: 10vh;
    }
  }
}
